!!! 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
        script(src='http://vagnersantana.com:8080/socket.io/socket.io.js')
        script(type='text/javascript')
            $(document).bind('pageinit', function() {
                // CSS Changes
                $('.ui-body-c').css({background: 'url(http://vagnersantana.com/player.io/assets/img/bg.png) repeat'});

                // Socket.io
                var socket = io.connect('http://vagnersantana.com:8080');
                var id = $('body').attr('id');

                socket.emit('setId', id + 'mb');
                socket.on('newPlaylist', function (data) {
                    var html = '';
                    $("#no").remove();
                    for(var i=0, t=data.pl.length; i<t; i++){
                        html = html + '<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" data-fileid="' + data.pl[i].file + '">'+ data.pl[i].fileName + '</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>';
                    }

                    $('.playlist-mb ul').html(html);
                });

                //Events
                $('#play').tap(function() {
                    $.get('/player/#{id}/play', function() {});
                });
                $('#pause').tap(function() {
                    $.get('/player/#{id}/pause', function() {});
                });
                $('#fullscreen').tap(function() {
                    $.get('/player/#{id}/fullscreen', function() {});
                });
                $('#prev').tap(function() {
                    $.get('/player/#{id}/prev', function() {});
                });
                $("#slider").on("change", function(){
                    var value = $("#slider").val() / 100;
                    $.get('/player/#{id}/vol/' + value, function() {});
                });
                $("#slider2").on("change", function(){
                    var value = $("#slider2").val();
                    $.get('/player/#{id}/seek/' + value, function() {});
                });
                $('.playlist-mb').on("tap", "a", function(){
                    var value = $(this).attr('data-fileid');
                    $('.playlist-mb a').removeClass('nowplay');

                    $.get('/player/#{id}/change/' + value, function() {});

                    $(this).addClass("nowplay");
                });
            });
        style
            header h1{
                font-family: 'Play', sans-serif;
                font-size: 64px;
                color: #24c7c0;
                text-align: center;
                text-shadow:0px 0px 0 rgb(231,231,231),
                            1px 1px 0 rgb(216,216,216),
                            2px 2px 0 rgb(202,202,202),
                            3px 3px 0 rgb(187,187,187),
                            4px 4px 0 rgb(173,173,173),
                            5px 5px 0 rgb(158,158,158), 
                            6px 6px 0 rgb(144,144,144),
                            7px 7px 6px rgba(0,0,0,0.6),
                            7px 7px 1px rgba(0,0,0,0.5),
                            0px 0px 6px rgba(0,0,0,.2);
            }
            h2{
                font-size: 40px;
                text-align: center;
            }
            section, .playlist-mb{
                padding: 30px;
            }
            .nowplay{
                background-image: -webkit-gradient(linear,left top,left bottom,from(#00b5b5),to(#36faee));
                background-image: -webkit-linear-gradient(#00b5b5,#36faee);
                background-image: -moz-linear-gradient(#00b5b5,#36faee);
                background-image: -ms-linear-gradient(#00b5b5,#36faee);
                background-image: -o-linear-gradient(#00b5b5,#36faee);
                background-image: linear-gradient(#00b5b5,#36faee);
            }
    body(id="#{id}")
            header
                h1 Player.IO
            section
                a(href="#", id="play", data-role="button", data-transition="fade", data-theme="a") Play
                a(href="#", id="pause", data-role="button", data-transition="fade",  data-theme="a") Pause
                a(href="#", id="fullscreen", data-role="button", data-transition="fade",  data-theme="a") Fullscreen
                h3 Volume
                input(type="range", name="slider", id="slider", value="50", min="0", max="100", data-theme="a", data-track-theme="b")
                h3 Time (%)
                input(type="range", name="slider", id="slider2", value="50", min="0", max="100", data-theme="a", data-track-theme="b")
            br
            .playlist-mb
                h2 Playlist
                ul(data-role="listview", data-inset="true")
                    li(id="no") 
                        a(data-fileid="no") No files to play!